:root {
  --primary: #ff4d6d;
}

.couple-fullscreen {
  /* width: 100vw; */
  height: 100vh;
  /* background-color: var(--bg); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.couple-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 40px; */
  position: relative;
  z-index: 2;
}

.side-image {
  width: 300px;
}

.side-image img {
  max-width: 100%;
  height: auto;
}

.form-box {
  max-width: 500px;
  flex: 1;
  background: #fff;
  padding: 40px;
  text-align: center;
}

.form-box h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.form-box p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #333;
}

.form-group {
  margin-bottom: 5px;
  text-align: left;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.radio-btn {
  border: 1px solid #ccc;
  padding: 8px 20px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.radio-btn.active {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

.age-range {
  display: flex;
  gap: 10px;
  align-items: center;
}

.age-range input {
  width: 100px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.find-btn {
  margin-top: 20px;
  background: linear-gradient(90deg, #ff4d6d, #ff7980);
  border: none;
  padding: 12px 28px;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
