.login-body{
padding: 30px;
}

.login-bg {
    background-image: url("../../Images/couplebg.jpg");
    background-size:cover;

}

.login-card {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
    backdrop-filter: blur(10px); /* Optional: adds a glass effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Optional: soft shadow */
}

.login-header {
    padding: 40px 20px;
    background-color: #ec0d81;
    color: white;
}


.create-btn {
    background-color: #000;
    color: white;
    border: none;
}

.create-btn:hover {
    background-color: #333;
}

.lost-password {
    color: #ec0d81;
    font-size: 14px;
    text-decoration: none;
}

.lost-password:hover {
    text-decoration: underline;
}